@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 800;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.23);
  border-radius: 2rem;
  width: 650px;
  background-color: hsl(0, 0%, 100%);
}

.results-container {
  width: 50%;
  padding: 2rem 2rem;
  border-radius: 1.3rem;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}
.results-container .title {
  margin-bottom: 1rem;
  color: hsl(241, 100%, 89%);
}
.results-container .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  margin: 0 auto;
}
.results-container .circle .score-number {
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
.results-container .circle .circle-text {
  color: hsl(241, 100%, 89%);
}
.results-container .sub-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
}
.results-container .sub-text {
  color: hsl(241, 100%, 89%);
  width: 220px;
  margin: 0 auto;
}

.summary-container {
  width: 50%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.summary-container .title {
  color: black;
  font-weight: 800;
  margin-top: 1rem;
}
.summary-container .categories-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.summary-container .categories-container .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-radius: 10px;
}
.summary-container .categories-container .category p {
  color: gray;
}
.summary-container .categories-container .category p b {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.summary-container .categories-container .category-id {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.summary-container .categories-container p {
  font-size: 13px;
  font-weight: 800;
}

.result-title h1 {
  font-size: 2px;
}

.summary-button {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}
.summary-button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.category-red {
  background-color: hsla(0, 100%, 67%, 0.05);
}
.category-red .result-name {
  color: hsl(0, 100%, 67%) !important;
}

.category-yellow {
  background-color: hsla(39, 100%, 56%, 0.05);
}
.category-yellow .result-name {
  color: hsl(39, 100%, 56%) !important;
}

.category-green {
  background-color: hsla(166, 100%, 37%, 0.05);
}
.category-green .result-name {
  color: hsl(166, 100%, 37%) !important;
}

.category-blue {
  background-color: hsla(234, 85%, 45%, 0.05);
}
.category-blue .result-name {
  color: hsl(234, 85%, 45%) !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(256, 72%, 46%);
}

@media screen and (max-width: 450px) {
  body {
    background-color: white;
    align-items: center;
  }
  .main-container {
    width: 100%;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
  }
  .results-container {
    border-radius: 0 0 2rem 2rem;
    width: 100%;
  }
  .results-container .sub-text {
    width: 260px;
  }
  .summary-container {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */