@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("ttf");
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    padding: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 20px;

    .results-container {
        width: 240px;
        height: 335px;
        background: linear-gradient(to bottom, #6743ff, #302ce9);
        border-radius: 20px;
        z-index: 1;
        text-align: center;

        h1 {
            margin: 30px 0;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.71);
        }

        .score-circle-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            .circle {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background: linear-gradient(to bottom, #4b22c7, #4734ee);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .score-number {
                    font-size: 48px;
                    color: #ffffff;
                    font-weight: bold;
                }
                .circle-text {
                    margin: 0;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.468);
                }
            }
        }
        .sub-title {
            font-size: 18px;
            margin-bottom: 10px;
            color: #ffffff;
        }

        .sub-text {
            font-size: 12px;
            color: #ffffff;
            padding: 20px;
        }
    }

    .summary-container {
        width: 275px;
        height: 335px;
        border-radius: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        transform: translateX(-35px);
        z-index: 0;
        text-align: left;

        h4 {
            // margin: 30px 0;
            font-size: 15px;
            color: black;
            margin-left: 60px;
        }

        .categories-container {
            width: 188px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border-radius: 5px;
            margin-left: 60px;
            margin-bottom: 10px;

            > .category-id,
            .category-score {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                    margin-left: 10px;
                    width: 10px;
                    height: 10px;
                }
            }

            p {
                font-size: 10px;
            }
        }
    }
}

.score-achieved {
    margin-right: 3px;
    font-weight: bold;
    color: black;
}

.divider {
    opacity: 50%;
    color: grey;
    font-weight: bold;
}

.max-score {
    margin-right: 10px;
    margin-left: 3px;
    color: grey;
    opacity: 50%;
    font-weight: bold;
}

.result-title h1 {
    font-size: 2px;
}

.summary-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.summary-button {
    width: 188px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background-color: #303b59;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 10px;
    cursor: pointer;
    margin-left: 34px; // IMPORTANT MARGIN FOR SUMMARY ELEMENTS
    margin-top: 28px;
}

.components-score {
    width: 0;
    height: 0;
    display: flex;
}
