@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 800;
  font-display: swap;
}

// Primary
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Gradients
$light-slate-blue: hsl(252, 100%, 67%); //bg
$light-royal-blue: hsl(241, 81%, 54%); //bg
$violet-blue: hsla(256, 72%, 46%, 1); //circle
$persian-blue: hsla(241, 72%, 46%, 0); //circle

* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.23);
  border-radius: 2rem;
  width: 650px;
  background-color: $white;
}

.results-container {
  width: 50%;
  padding: 2rem 2rem;
  border-radius: 1.3rem;
  background: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;

  .title {
    margin-bottom: 1rem;
    color: $light-lavender;
  }

  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: linear-gradient(to bottom, $violet-blue, $persian-blue);
    margin: 0 auto;

    .score-number {
      font-size: 4rem;
      color: $white;
      font-weight: bold;
    }
    .circle-text {
      color: $light-lavender;
    }
  }

  .sub-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $white;
  }

  .sub-text {
    color: $light-lavender;
    width: 220px;
    margin: 0 auto;
  }
}

.summary-container {
  width: 50%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    color: black;
    font-weight: 800;
    margin-top: 1rem;
  }

  .categories-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0.5rem;
      border-radius: 10px;

      p {
        color: gray;

        b {
          color: $dark-gray-blue;
          font-weight: 800;
        }
      }
    }

    .category-id {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    p {
      font-size: 13px;
      font-weight: 800;
    }
  }
}

.result-title h1 {
  font-size: 2px;
}

.summary-button {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: $dark-gray-blue;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;

  &:hover {
    background: linear-gradient(
      to bottom,
      $light-slate-blue,
      $light-royal-blue
    );
  }
}

.category-red {
  background-color: hsla(0, 100%, 67%, 0.05);

  .result-name {
    color: $light-red !important;
  }
}

.category-yellow {
  background-color: hsla(39, 100%, 56%, 0.05);

  .result-name {
    color: $orangey-yellow !important;
  }
}

.category-green {
  background-color: hsla(166, 100%, 37%, 0.05);

  .result-name {
    color: $green-teal !important;
  }
}

.category-blue {
  background-color: hsla(234, 85%, 45%, 0.05);

  .result-name {
    color: $cobalt-blue !important;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
  a {
    color: $violet-blue;
  }
}

@media screen and (max-width: 450px) {
  body {
    background-color: white;
    align-items: center;
  }
  .main-container {
    width: 100%;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
    
  }
  .results-container {
    border-radius: 0 0 2rem 2rem;
    width: 100%;
  }
  .results-container .sub-text {
    width: 260px;
  }
  .summary-container {
    width: 100%;
  }
}
